:root {
    /* Replace */
    --black-shade:#1A1A1A;
    --dark-navy: #020c1b;
    
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;

    /* Replace */
    --orange:#bd3b22;
    --green: #64ffda;

    /* --green: white; */
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;
    --font-sans: "Calibre Regular","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono Light","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645,0.045,0.355,1);
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
    --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
    font-family: ca;
}
@font-face {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/SFMonoRegular.woff') format('woff');
}
@font-face {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/SFMonoRegular.woff') format('woff');
}
@font-face {
    font-family: 'SF Mono Light';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/SFMonoLight.woff') format('woff');
}
@font-face {
    font-family: 'Calibre Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Calibre-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Calibre Medium';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Calibre-Medium.woff') format('woff');
}
@keyframes fade {
    0% { opacity: 0; }
    30% { opacity: 0.4; }
    70% { opacity: 0.8;  }
    100% { opacity: 1; }
 }
body{
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: var(--black-shade);
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
    counter-reset: section;

}
.squiggle {
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: draw 2s  cubic-bezier(0.49, 0, 0.01, 0) forwards;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scaletozero{
      from{
          transform: scale(1);
      }
      to{
          transform: scale(0);
      }
  }
  #Loader{
      position: relative;
      left: 50%;
      top: 50%;
      /* transform: translate(-50px, -40px); */
      animation: scaletozero 1s;
      animation-delay: 3s;
    }
    .lettersvg{
        position: absolute;
        top: 6px;
        color: var(--orange);
        opacity: 1;
        left: 24px;
        animation: fade 4s ;
        animation-delay: 1s;
        
    }
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-slate);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--slate);
}
:focus {
    outline: 2px dashed var(--orange) !important;
    outline-offset: 3px;
}
a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}
a:hover, a:focus {
    color: var(--orange);
}
button {
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
}
svg {
    width: 100%;
    height: 100%;
    fill: currentcolor;
    vertical-align: middle;
}
img, svg, .gatsby-image-wrapper {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
section{
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}
p > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--orange);
}
button:focus:not(:focus-visible) {
    outline: 0 !important;
}
a.inline-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--orange);
    transition: var(--transition);
    opacity: 0.5;
}


/* NAVBAR STARTS */
.nav-link{
    color: var(--slate) !important;
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
}
.nav-link:hover{
    color: var(--orange) !important;
}
.resume-btn{
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-sm);
}

/* NAVCOP */
.hLTFFw {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: var(--nav-height);
    background-color: var(--dark-black);
    backdrop-filter: blur(10px);
    transition: var(--transition);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}
.kFCHyX {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;
}
.kFCHyX .logo {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.kFCHyX .logo a {
    color: var(--orange);
    width: 42px;
    height: 42px;
}
#logo {
    color: var(--orange);
}
.kFCHyX .logo a svg {
    fill: none;
    transition: var(--transition);
    user-select: none;
}
.buZqzj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.buZqzj ol {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.buZqzj ol li {
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--fz-xs);
}
.buZqzj ol li a {
    padding: 10px;
}
.buZqzj ol li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--orange);
    font-size: var(--fz-xxs);
    text-align: right;
}
.buZqzj .resume-button {
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 15px;
    font-size: var(--fz-xs);
}
/* SideBar */
.dAwNpJ {
    display: none;
}
.eCxtrN {
    display: none;
}
.eCxtrN .ham-box {
    display: inline-block;
    position: relative;
    width: var(--hamburger-width);
    height: 24px;
}
.eCxtrN .ham-box-inner {
    position: absolute;
    top: 50%;
    right: 0px;
    width: var(--hamburger-width);
    height: 2px;
    border-radius: var(--border-radius);
    background-color: var(--orange);
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    transform: rotate(
        0deg);
    }
    .eCxtrN .ham-box-inner::before, .eCxtrN .ham-box-inner::after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        right: 0px;
        width: var(--hamburger-width);
        height: 2px;
        border-radius: 4px;
        background-color: var(--orange);
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
    }
    .eCxtrN .ham-box-inner::before {
        width: 120%;
        top: -10px;
        opacity: 1;
        transition: var(--ham-before);
    }
    .eCxtrN .ham-box-inner::after {
        width: 80%;
        bottom: -10px;
        transform: rotate(
    0deg);
        transition: var(--ham-after);
    }
    .dKogfI {
        display: none;
    }
    .dKogfI nav {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        color: var(--lightest-slate);
        font-family: var(--font-mono);
        text-align: center;
    }
    .dKogfI ol {
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;
    }
    .dKogfI ol li {
        position: relative;
        margin: 0px auto 20px;
        counter-increment: item 1;
        font-size: clamp(var(--fz-sm),4vw,var(--fz-lg));
    }
    .dKogfI ol a {
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: var(--transition);
        width: 100%;
        padding: 3px 20px 20px;
    }
    .dKogfI .resume-link {
        color: var(--orange);
        background-color: transparent;
        border: 1px solid var(--orange);
        border-radius: var(--border-radius);
        font-size: var(--fz-sm);
        font-family: var(--font-mono);
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition);
        padding: 18px 50px;
        margin: 10% auto 0px;
        width: max-content;
    }
    .dSbVSd:hover, .dSbVSd:active, .dSbVSd:focus{
        outline: none !important;
    }
    .dSbVSd nav {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
        color: var(--lightest-slate);
        font-family: var(--font-mono);
        text-align: center;
    }
    .dSbVSd ol {
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;
    }
    .dSbVSd ol li {
        position: relative;
        margin: 0px auto 20px;
        counter-increment: item 1;
        font-size: clamp(var(--fz-sm),4vw,var(--fz-lg));
    }
    .dSbVSd ol li::before {
        content: "0" counter(item) ".";
        display: block;
        margin-bottom: 5px;
        color: var(--orange);
        font-size: var(--fz-sm);
    }
    .dSbVSd ol a {
        display: inline-block;
        text-decoration: none;
        text-decoration-skip-ink: auto;
        color: inherit;
        position: relative;
        transition: var(--transition);
        width: 100%;
        padding: 3px 20px 20px;
    }
    .dSbVSd .resume-link {
        color: var(--orange);
        background-color: transparent;
        border: 1px solid var(--orange);
        border-radius: var(--border-radius);
        font-size: var(--fz-sm);
        font-family: var(--font-mono);
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition);
        padding: 18px 50px;
        margin: 10% auto 0px;
        width: max-content;
    }
    
    
    
    
    
    
    
    
    .hOvuuP {
        width: 40px;
        position: fixed;
        bottom: 0px;
        left: 40px;
        right: auto;
        z-index: 10;
        color: var(--light-slate);
    }
    .dVLQAC {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .dVLQAC::after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: var(--light-slate);
    }
    .dVLQAC li:last-of-type {
        margin-bottom: 20px;
    }
    .dVLQAC li a {
        padding: 10px;
    }
    .dVLQAC li a:hover, .dVLQAC li a:focus {
        transform: translateY(-3px);
    }
    .dVLQAC li a svg {
        width: 20px;
        height: 20px;
    }
    svg.feather {
        fill: none;
    }
    svg {
        width: 100%;
    height: 100%;
    fill: currentcolor;
    vertical-align: middle;
}


.jSIwrL {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-slate);
}
.jJFfEJ a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.jJFfEJ a:hover, .jJFfEJ a:focus {
    transform: translateY(-3px);
}
.jJFfEJ::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}



/* Footer */
.earxGk {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}
.fLSMpu {
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: 1;
}
.fLSMpu a {
    padding: 10px;
}


/* Main Center Div */
#content main{
    padding: 0px 150px;    
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
}

/* Intro Section */
#intro{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}
#intro h1{
    margin: 0px 0px 30px 4px;
    color: var(--orange);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
    font-weight: 400;
}
.big-heading{
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
}
#intro h3{
    margin-top: 10px;
    color: var(--slate);
    line-height: 0.9;
}
#intro p{
    margin: 20px 0px 0px;
    max-width: 540px;
}
#intro .email-link{
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 50px;
}

/* About Section */
#about{
    max-width: 900px;
}
.numbered-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px,5vw,var(--fz-heading));
    white-space: nowrap;
}
.numbered-heading::before {
    position: relative;
    bottom: 4px;
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: var(--orange);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-md),3vw,var(--fz-xl));
    font-weight: 400;
}
.numbered-heading::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}
#about .inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.about-inner ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}
.about-inner ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
}
.about-inner ul.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--orange);
    font-size: var(--fz-sm);
    line-height: 12px;
}
.iTdkQf {
    position: relative;
    max-width: 300px;
}
.iTdkQf .wrapper {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    display: block;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--orange);
    border-radius: 25px;
}
.iTdkQf .wrapper::before {
    top: 0px;
    left: 0px;
    mix-blend-mode: screen;
    z-index: 1;
}
.iTdkQf .wrapper::before, .iTdkQf .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.iTdkQf .wrapper:hover, .iTdkQf .wrapper:focus {
    /* background: transparent; */
    outline: 0px;
}
.iTdkQf .wrapper:hover, .iTdkQf .wrapper:focus {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
}
.iTdkQf .wrapper:hover::before{
    z-index: -1;
}
.iTdkQf .wrapper::after {
    border: 2px solid var(--orange);
    top: 20px;
    left: 20px;
    z-index: -1;
    border-radius: 25px;
}
.iTdkQf .wrapper:hover::after {
    top: 10px;
    left: 10px;
    transition-duration: 0.5s;
}
.iTdkQf .wrapper .img {
    position: relative;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1);
    transition: var(--transition);
}
.gatsby-image-wrapper [data-main-image] {
    opacity: 0;
    transform: translateZ(0);
    transition: opacity .25s linear;
    will-change: opacity;
}
.gatsby-image-wrapper img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    /* border-radius: 25px; */
    object-fit: cover;
}
.gatsby-image-wrapper img::after{
    content: "";
    background-color: white;
}

/* Tablist */
.sAHTI {
    position: relative  !important;
    z-index: 3 !important;
    width: max-content !important;
    padding: 0px !important;
    margin: 0px !important;
    list-style: none !important;
    /* min-width: 150px; */
}

.jBtKSS {
    text-decoration: none !important;
    text-decoration-skip-ink: auto !important;
    position: relative !important;
    transition: var(--transition) !important;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    width: 100% !important;
    height: var(--tab-height) !important;
    padding: 0px 20px 2px !important;
    border-left: 2px solid var(--lightest-navy) !important;
    background-color: transparent !important;
    color: var(--slate) !important;
    font-family: var(--font-mono) !important;
    font-size: var(--fz-xs) !important;
    text-align: left !important;
    white-space: nowrap !important;
    border-radius: 0 !important;
}
.jBtKSS:hover, .jBtKSS:focus {
    background-color: var(--light-navy) !important;
    color: var(--orange) !important;
    outline: 0px !important;
}
.sAHTI .active{
    color: var(--orange) !important;
    border-color: var(--orange) !important;
}
.sAHTI .active:hover, .sAHTI .active:focus{
    outline: none !important;
    color: var(--orange) !important;
    border-color: var(--orange) !important;
}
.QgHxr {
    width: 100%;
    height: auto;
    padding: 10px 5px;
}
.QgHxr h3 {
    margin-bottom: 2px;
    font-size: var(--fz-xxl);
    font-weight: 500;
    line-height: 1.3;
}
.QgHxr h3 .company {
    color: var(--orange);
}
a.inline-link {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    color: var(--orange);
}
.QgHxr ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-size: var(--fz-lg);
}
.QgHxr ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.QgHxr ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--orange);
}

.jdfosx {
    max-width: 700px;
}


/* Projects Section */
.eeeRej {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}
.eeeRej:not(:last-of-type) {
    margin-bottom: 100px;
}
.eeeRej .project-content {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}
.eeeRej:nth-of-type(2n+1) .project-content {
    grid-column: 7 / -1;
    text-align: right;
}
.eeeRej .project-overline {
    margin: 10px 0px;
    color: var(--orange);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    font-weight: 400;
}
.eeeRej .project-title {
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
}
.dnNJYD a {
    position: relative;
    z-index: 1;
}

.eeeRej .project-description {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: var(--fz-lg);
}
.eeeRej .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.eeeRej:nth-of-type(2n+1) .project-tech-list {
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.eeeRej .project-tech-list li {
    margin: 0px 20px 5px 0px;
    color: var(--light-slate);
    font-family: var(--font-mono);
    font-size: var(--fz-xs);
    white-space: nowrap;
}
.eeeRej:nth-of-type(2n+1) .project-tech-list li {
    margin: 0px 0px 5px 20px;
}
.eeeRej .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: var(--lightest-slate);
}
.dnNJYD a {
    position: relative;
    z-index: 1;
}
.eeeRej:nth-of-type(2n+1) .project-links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}
.eeeRej .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px;
}
.eeeRej .project-links a svg {
    width: 20px;
    height: 20px;
}
.dnNJYD a {
    position: relative;
    z-index: 1;
}
.eeeRej .project-image {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    transition: var(--transition);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}
.eeeRej:nth-of-type(2n+1) .project-image {
    grid-column: 1 / 8;
}
.eeeRej .project-image a {
    width: 100%;
    height: 100%;
    background-color: var(--green);
    border-radius: var(--border-radius);
    vertical-align: middle;
}
.eeeRej .project-image a:hover{
    background-color: transparent;
}
.eeeRej .project-image a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: var(--transition);
    background-color: var(--navy);
    mix-blend-mode: screen;
}
.eeeRej .project-image .img {
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
}
.cMhhGM {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.cMhhGM h2 {
    font-size: clamp(24px,5vw,var(--fz-heading));
}
.cMhhGM .archive-link {
    font-family: var(--font-mono);
    font-size: var(--fz-sm);
}
.cMhhGM .projects-grid {
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}
.cMhhGM .archive-link::after {
    bottom: 0.1em;
}
.dIMCBf {
    position: relative;
    cursor: default;
    transition: var(--transition);
}
.dIMCBf .project-inner {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    border-radius: var(--border-radius);
    background-color: var(--light-navy);
    transition: var(--transition);
}
.dIMCBf .project-top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 35px;
}
.dIMCBf .project-top .folder {
    color: var(--orange);
}
.dIMCBf .project-top .folder svg {
    width: 40px;
    height: 40px;
}
.dIMCBf .project-top .project-links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: -10px;
    color: var(--light-slate);
}
.dIMCBf a {
    position: relative;
    z-index: 1;
}   
.dIMCBf .project-top .project-links a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
}
.dIMCBf .project-top .project-links a svg {
    width: 20px;
    height: 20px;
}

.dIMCBf .project-top .project-links a.external svg {
    width: 22px;
    height: 22px;
    margin-top: -4px;
}
.dIMCBf .project-title {
    margin: 0px 0px 10px;
    color: var(--lightest-slate);
    font-size: var(--fz-xxl);
}
.dIMCBf .project-title a {
    position: static;
}
.dIMCBf .project-title a::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.dIMCBf .project-description {
    color: var(--light-slate);
    font-size: 17px;
}
.dIMCBf .project-tech-list {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}
.dIMCBf .project-tech-list li {
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: 1.75;
}
.dIMCBf .project-tech-list li:not(:last-of-type) {
    margin-right: 15px;
}
.cMhhGM .more-button {
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
    border-radius: var(--border-radius);
    font-size: var(--fz-xs);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 1.25rem 1.75rem;
    margin: 80px auto 0px;
}


@media (min-width: 700px){
    .jdfosx .inner {
        min-height: 340px;
    }
    .eeeRej .project-title {
        margin: 0px 0px 20px;
    }
}
@media (max-width: 1080px){
    .hLTFFw {
        padding: 0px 40px;
    }
    #content main{
        padding: 0 100px;
    }
    .jSIwrL {
        left: auto;
        right: 20px;
    }
    .hOvuuP {
        left: 20px;
        right: auto;
    }
    .eeeRej .project-content {
        grid-column: 1 / 9;
    }
    .eeeRej:nth-of-type(2n+1) .project-content {
        grid-column: 5 / -1;
    }
    .cMhhGM .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 768px){
    .dKogfI {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px 10px;
        width: min(75vw, 400px);
        height: 100vh;
        outline: 0px;
        background-color: var(--light-navy);
        box-shadow: -10px 0px 30px -15px var(--navy-shadow);
        z-index: 9;
        transform: translateX(100vw);
        visibility: hidden;
        transition: var(--transition);
    }
    .dSbVSd {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px 10px;
        width: min(75vw, 400px);
        height: 100vh;
        outline: 0px;
        background-color: var(--black-shade);
        box-shadow: -10px 0px 30px -15px var(--navy-shadow);
        z-index: 9;
        transform: translateX(0vw);
        visibility: visible;
        transition: var(--transition);
    }
    .eCxtrN {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        z-index: 10;
        margin-right: -15px;
        padding: 15px;
        border: 0px;
        background-color: transparent;
        color: inherit;
        text-transform: none;
        transition-timing-function: linear;
        transition-duration: 0.15s;
        transition-property: opacity, filter;
    }
    .eVRjg {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        z-index: 10;
        margin-right: -15px;
        padding: 15px;
        border: 0px;
        background-color: transparent;
        color: inherit;
        text-transform: none;
        transition-timing-function: linear;
        transition-duration: 0.15s;
        transition-property: opacity, filter;
    }
    .eVRjg .ham-box {
        display: inline-block;
        position: relative;
        width: var(--hamburger-width);
        height: 24px;
    }
    .eVRjg .ham-box-inner {
        position: absolute;
        top: 50%;
        right: 0px;
        width: var(--hamburger-width);
        height: 2px;
        border-radius: var(--border-radius);
        background-color: var(--orange);
        transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
        transform: rotate(
    225deg);
    }
    .eVRjg .ham-box-inner::before {
        width: 100%;
        top: 0px;
        opacity: 0;
        transition: var(--ham-before-active);
    }
    .eVRjg .ham-box-inner::after {
        width: 100%;
        bottom: 0px;
        transform: rotate(
    -90deg);
        transition: var(--ham-after-active);
    }
    .eVRjg .ham-box-inner::before, .eVRjg .ham-box-inner::after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        right: 0px;
        width: var(--hamburger-width);
        height: 2px;
        border-radius: 4px;
        background-color: var(--orange);
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
    }
    .hOvuuP {
        display: none;
    }
    .jSIwrL {
        display: none;
    }
    section {
        padding: 80px 0px;
    }
    .hLTFFw {
        padding: 0px 25px;
    }
    .buZqzj {
        display: none;
    }
    .dAwNpJ {
        display: block;
    }
    .eCxtrN {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        z-index: 10;
        margin-right: -15px;
        padding: 15px;
        border: 0px;
        background-color: transparent;
        color: inherit;
        text-transform: none;
        transition-timing-function: linear;
        transition-duration: 0.15s;
        transition-property: opacity, filter;
    }
    #content main{
        padding: 0 50px;
    }
    #about .inner {
        display: block;
    }
    .iTdkQf {
        margin: 50px auto 0px;
        width: 70%;
    }
    .eeeRej .project-image {
        grid-column: 1 / -1;
        height: 100%;
        opacity: 0.25;
    }
    .eeeRej:nth-of-type(2n+1) .project-image {
        grid-column: 1 / -1;
    }
    .eeeRej .project-image .img {
        object-fit: cover;
        width: auto;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(50%);
    }
    .eeeRej .project-content {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        height: 100%;
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        z-index: 5;
    }    
    .eeeRej:nth-of-type(2n+1) .project-content {
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
        text-align: left;
    }
    .eeeRej .project-title {
        color: var(--white);
    }
    .eeeRej .project-title a {
        position: static;
    }
    .eeeRej .project-title a::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }
    .eeeRej .project-description {
        padding: 20px 0px;
        background-color: transparent;
        box-shadow: none;
    }
    .eeeRej:nth-of-type(2n+1) .project-tech-list {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
    .eeeRej:nth-of-type(2n+1) .project-tech-list li {
        margin: 0px 10px 5px 0px;
    }
    .eeeRej:nth-of-type(2n+1) .project-links {
        -webkit-box-pack: start;
        justify-content: flex-start;
        margin-left: -10px;
        margin-right: 0px;
    }
}
